.butn
{
    color: white;
    background: cornflowerblue;
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.m-2{
    left: 40%;
}

.role-adm {
    margin-left: 13cm;

}

.logout-button{
    margin-left: 10px;
}

@media (min-width: 320px){
    .m-2{
        left: 40%;
    }
    
    .role-adm {
        margin-left: 13cm;
    
    }
    
    .logout-button{
        margin-left: 10px;
    }


}